<form [formGroup]="form">
    <p>Person data</p>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input
            matInput
            formControlName="name"
        >
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Height</mat-label>
        <input
            type="number"
            matInput
            formControlName="height"
        >
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Mass</mat-label>
        <input
            type="number"
            matInput
            formControlName="mass"
        >
    </mat-form-field>
    <app-select
        formControlName="gender"
        label="Gender"
        [options]="genders"
    ></app-select>

</form>

<app-select
    label="Gender"
    [options]="genders"
    [value]="genders[0].value"
    (change)="newValue($event)"
></app-select>
