@import "~src/styles/variables";

.button {
  background: gray;
  color: white;
  border-radius: 5px;
  padding: 8px;
  border: none;
  transition: ease-in-out 0.3s;

  &:hover:not([disabled]) {
    background: black;
    cursor: pointer;
  }

  &[disabled] {
    cursor: initial;
    background: $DISABLED_BUTTON_COLOR;
  }

  .content {
    display: flex;
    align-items: center;
    gap: 8px;

    app-loading-indicator {
      width: 15px;
      height: 15px;
    }
  }
}

.my-class {
  border: 2px solid blue;
}
