<!-- <div class="table">

    <div class="row header">
        <div *ngFor="let colDef of colDefs">{{colDef.header}}</div>
    </div>
    <div
        *ngFor="let row of rows"
        class="row"
    >
        <div *ngFor="let colDef of colDefs">{{row[colDef.key]}}</div>

    </div>

</div> -->

<table
    mat-table
    [dataSource]="rows"
    class="mat-elevation-z8"
>

    <ng-container
        *ngFor="let colDef of colDefs"
        [matColumnDef]="colDef.key"
    >
        <th
            mat-header-cell
            *matHeaderCellDef
        >
            {{ colDef.header}}
        </th>
        <td
            mat-cell
            *matCellDef="let element"
        >
            {{element[colDef.key]}}
        </td>
    </ng-container>

    <tbody>
        <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns"
        ></tr>
        <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns;"
        ></tr>
    </tbody>
</table>
