<mat-sidenav-container class="example-container">
    <mat-sidenav
        mode="side"
        [opened]="isSidenavOpened"
    >
        <div class="nav-bar">
            <app-button (onClick)="navigateTo('main')">Main</app-button>
            <app-button (onClick)="navigateTo('data/persons/2')">Persons</app-button>
        </div>

    </mat-sidenav>
    <mat-sidenav-content>
        <button
            mat-icon-button
            (click)="onMenuClick()"
        >
            <mat-icon>menu</mat-icon>
        </button>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
