.table {
  .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    white-space: nowrap;
    text-align: center;

    border-bottom: 1px solid black;

    &:first-of-type {
      border-bottom: 2px solid black;
      border-top: 1px solid black;
    }

    div {
      overflow: hidden;
      text-overflow: ellipsis;

      border-right: 1px solid black;

      &:first-of-type {
        border-left: 1px solid black;
      }
    }
  }
}
