.button {
  background: gray;
  color: white;
  border-radius: 5px;
  padding: 8px;
  border: none;
  transition: ease-in-out 0.3s;

  &:hover:not([disabled]) {
    background: black;
    cursor: pointer;
  }

  &[disabled] {
    cursor: initial;
    background: #cbcaca;
  }

  .content {
    display: flex;
    align-items: center;
    gap: 8px;

    app-loading-indicator {
      width: 15px;
      height: 15px;
    }
  }
}
