<h1 mat-dialog-title>Hello</h1>
<div mat-dialog-content>
    <form [formGroup]="form">
        <p>What's your favorite animal?</p>
        <mat-form-field appearance="fill">
            <mat-label>Favorite Animal</mat-label>
            <input
                matInput
                formControlName="animal"
            >
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input
                matInput
                formControlName="animal2"
            >
        </mat-form-field>
        <mat-form-field
            appearance="fill"
            *ngFor="let group of animalsGroups"
        >
            <ng-container [formGroup]="group">
                <input
                    matInput
                    formControlName="value"
                >
            </ng-container>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button
        mat-button
        (click)="onNoClick()"
    >
        No Thanks
    </button>
    <button
        mat-button
        cdkFocusInitial
        (click)="onOkClick()"
    >
        Ok
    </button>
</div>
